.fc-toolbar {
    flex-direction: column;
}
.breakpoint-large({
    .fc-toolbar {
        flex-direction: row;
    }
});

.fc-button-primary:disabled{
  visibility: hidden;
  .breakpoint-small-down({
    display: none;
  })
}
.events .tabs
.fc-button-group > .fc-button, .fc-button-group > .fc-button:not(:first-child){
  background: @button-background-color!important;
  color: @white-color!important;
  border-radius: 30px!important;
  border: 1px solid @button-background-color;
}

.fc-button-group > .fc-today-button, .fc-button-group > fc-prev-button{
  border-radius: 50%;
}

.fc-button-group > .fc-button:hover, .fc-button-group > .fc-button:not(:first-child):hover, .fc-button-primary:not(:disabled).fc-button-active{
  background: #122E47!important;
  color:@white-color!important;
  border: 1px solid #122E47!important;
}

.fc-button-group > .fc-button{
  .breakpoint-small-down({
    margin: 50px 3px;
  });

}

.fc-toolbar.fc-header-toolbar{
  display: flex;
}

.fc-left{
  order: 2;
  position: absolute;
  margin-left: 220px;
  .breakpoint-small-down({
    position: unset;
    margin-left: 0px;
  });
}

.fc-center{
  order: 1;
  h2{
    text-transform: none;
  }
}

.fc-right{
  order: 3;
}
.fc-button{
  border-radius: 50px!important;
  .breakpoint-small-down({
    margin: 20px 5px 10px 5px!important;
  });

}

.fc-left .fc-button{
  padding: 6px;
  margin: 0 10px;
}

.fc-right .fc-button{
  padding: 5px 6px;
  margin: 0 10px;
  width: 80px;
}

.fc-right .fc-button:nth-of-type(3){
  margin: 0 0 0 10px;
}

.fc-event{
  background: @button-background-color!important;
  border-color: @button-background-color!important;
  padding: 10px!important;
  border-radius: 10px!important;
}

.fc-day-grid-event .fc-time{
  display: none;
}

.event-date{
  color: @button-background-color;
  background: url(../../assets/images/calendar_blue.svg) left no-repeat;
  padding-left: 25px;
  background-size: 17px;
  margin: 40px 0 10px 20px;
}
.event-place{
  color: @button-background-color;
  background: url(../../assets/images/location_blue.svg) left no-repeat;
  padding-left: 25px;
  background-size: 15px;
  margin-left: 20px;
}

.events .tabs{
  margin-bottom: 40px;
  width: 100%;
  display: block;
  text-align: right;
  .btn-primary{
    .breakpoint-small-down({
      margin-bottom: 20px;
    });
  }
  .breakpoint-small-down({
    margin-bottom: 20px;
    text-align: center;
  });
  a{
    margin-left: 20px;
    width: fit-content;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Funnel Sans', sans-serif;
    .breakpoint-small-down({
      margin-left: 0px;
      width: 100%;
      text-align: center;
    });

    &.active{
      opacity: 0.6;
      display: none;
    }
  }

}

.events{
  .tabs + div.row{
    width: 100%;
  }
}


.events{
  .newslist .col-xs-12:first-child{
    display: unset!important;
  }
}


.fc-listYear-button.fc-button.fc-button-primary{
  display: none;
}

.fc-button-primary{
  background: @button-background-color!important;
  border: 1px solid @button-background-color!important;
}


.events_list_container{
  .rounded(4px);
  box-shadow: 0 0 30px rgba(37, 189, 210, 0.15);
  width: 100%;

  .event_list_item{
    padding: 27px 35px;
    border-bottom: 1px solid #d2d2d2;
    a {
      color: @text-color-default;
    }
    .time_and_date{
      color: @button-background-color;
      font-weight: bold;
      font-family: 'Funnel Sans', sans-serif;
    }
  }
}
