/**
* font-family: 'Funnel Sans'
*/
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel/FunnelSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
