<div class="col-xs-12 col-md-5 mt-1 mb-1">
	<div class="documents-search-form">
		<form class="input-group" action="{{ url('documents-search') }}" method="get">
			<label class="documents-search-label" for="docSearchInput">Search in Internal repository</label>
			<input class="documents-search-input" id="docSearchInput" name="q" type="text" autocomplete="on" placeholder="Search folders and files...">
			<button class="documents-search-btn" type="submit">Search</button>
		</form>
	</div>
</div>

<div class="col-xs-12 col-md-3 end-xs">
	{% if folder.nest_depth == 0 and folders.count == 0 %}
	<a href="{{ url('internal-repository') }}" class="back"> <div class="arrow-left end-xs"></div> &nbsp;Back to documents</a>
	{% endif %}
</div>
